<div id="movies" class="pixel-border">
    <h3>
        Movies
    </h3>
    <fieldset id="movie-genres">
        <legend>Select your favourite genres</legend>
        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="Action" name="Action" value="Action"> Action
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Drama" name="Drama" value="Drama"> Drama
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Horror" name="Horror" value="Horror"> Horror
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Comedy" name="Comedy" value="Comedy"> Comedy
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Sci-Fi" name="Sci-Fi" value="Sci-Fi"> Sci-Fi
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Documentary" name="Documentary" value="Documentary"> Documentary
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Indie" name="Indie" value="Indie"> Indie
            </label>
        </div>
    </fieldset>
    <div id="type-field">
        <input type="text" id="movie-text" name="movie-text" placeholder="Type in some of your favourite movies or movie related things...">
    </div>
</div>

<div id="music" class="pixel-border">
    <h3>
        Music
    </h3>
    <fieldset id="music-genres">
        <legend>Select your favourite genres</legend>
        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="Rock" name="Rock" value="Rock"> Rock
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Hip-Hop" name="Hip-Hop" value="Hip-Hop"> Hip-Hop
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Classical" name="Classical" value="Classical"> Classical
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Pop" name="Pop" value="Pop"> Pop
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Jazz" name="Jazz" value="Jazz"> Jazz
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Electronic" name="Electronic" value="Electronic"> Electronic
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Indie" name="Indie" value="Indie"> Indie
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Lo-Fi" name="Lo-Fi" value="Lo-Fi"> Lo-Fi
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Punk" name="Punk" value="Punk"> Punk
            </label>
        </div>
    </fieldset>
    <div id="type-field" class="pixel-border">
        <input type="text" id="music-text" name="music-text" placeholder="Type in some of your favourite songs or music related things...">
    </div>
</div>

<div id="books" class="pixel-border">
    <h3>
        Books
    </h3>
    <fieldset id="book-genres">
        <legend>Select your favourite genres</legend>
        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="Fiction" name="Fiction" value="Fiction"> Fiction
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Fantasy" name="Fantasy" value="Fantasy"> Fantasy
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Self-Help" name="Self-Help" value="Self-Help"> Self-Help
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Mystery" name="Mystery" value="Mystery"> Mystery
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Biography" name="Biography" value="Biography"> Biography
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Sci-Fi" name="Sci-Fi" value="Sci-Fi"> Sci-Fi
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Non-Fiction" name="Non-Fiction" value="Non-Fiction"> Non-Fiction
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="History" name="History" value="History"> History
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Graphic Novels" name="Graphic Novels" value="Graphic Novels"> Graphic Novels
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Action & Adventure" name="Action & Adventure" value="Action & Adventure"> Action & Adventure
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Thriller" name="Thriller" value="Thriller"> Thriller
            </label>
        </div>
    </fieldset>
    <div id="type-field" class="pixel-border">
        <input type="text" id="book-text" name="book-text" placeholder="Type in some of your favourite book titles or tropes...">
    </div>
</div>

<div id="games" class="pixel-border">
    <h3>Select the game genres you enjoy</h3>
    <fieldset id="game-genres">
        <legend>Select your favourite genres</legend>
        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" id="Board Games" name="Board Games" value="Board Games"> Board Games
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Puzzle" name="Puzzle" value="Puzzle"> Puzzle
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Collaborative" name="Collaborative" value="Collaborative"> Collaborative
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Mystery" name="Mystery" value="Mystery"> Mystery
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Competitive" name="Competitive" value="Competitive"> Competitive
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Sci-Fi" name="Sci-Fi" value="Sci-Fi"> Sci-Fi
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Single Player" name="Single Player" value="Single Player"> Single Player
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Trivia" name="Trivia" value="Trivia"> Trivia
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Strategy" name="Strategy" value="Strategy"> Strategy
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Interactive" name="Interactive" value="Interactive"> Interactive
            </label>
            <label class="checkbox-label">
                <input type="checkbox" id="Party" name="Party" value="Party"> Party
            </label>
        </div>
    </fieldset>
    <div id="type-field">
        <input type="text" id="game-text" name="game-text" placeholder="Type in some of your favourite game titles or genres...">
    </div>
</div>

<div id="hobbies" class="pixel-border">
    <h2>
        Hobbies
    </h2>
    <div id="type-field">
        <input type="text" id="hobby-text" name="hobby-text" placeholder="Type in some of your hobbies or things you like to do...">
    </div>
</div>

<div class="submit-container">
    <button type="button" (click)="saveInterests()">Submit</button>
</div>
