<p>user-interests works!</p>

<div id="movies">
    <h2>
        Select your interests based on movies!
    </h2>
<fieldset id="movie-genres">
    <legend>Select your favourite genres</legend>
    <input type="checkbox" id="Action" name="Action" value="Action">
    <label for="Action">Action</label><br>
    <input type="checkbox" id="Drama" name="Drama" value="Drama">
    <label for="Drama">Drama</label><br>
    <input type="checkbox" id="Horror" name="Horror" value="Horror">
    <label for="Horror">Horror</label><br>
    <input type="checkbox" id="Comedy" name="Comedy" value="Comedy">
    <label for="Comedy">Comedy</label><br>
    <input type="checkbox" id="Sci-Fi" name="Sci-Fi" value="Sci-Fi">
    <label for="Sci-Fi">Sci-Fi</label><br>
    <input type="checkbox" id="Documentary" name="Documentary" value="Documentary">
    <label for="Documentary">Documentary</label><br>
    <input type="checkbox" id="Indie" name="Indie" value="Indie">
    <label for="Indie">Indie</label><br>
</fieldset>

<div id="type-field">
    <input type="text" id="movie-text" name="movie-text" placeholder="Type in some of your favourite movies or movie related things..." >
    <input type="submit" value="Add" id="add-movie-text" name="add-movie-text">
</div>
</div>
