<div id="movies">
    <h3>
        Select your interests based on movies!
    </h3>
<fieldset id="movie-genres">
    <legend>Select your favourite genres</legend>
    <input type="checkbox" id="Action" name="Action" value="Action">
    <label for="Action">Action</label><br>
    <input type="checkbox" id="Drama" name="Drama" value="Drama">
    <label for="Drama">Drama</label><br>
    <input type="checkbox" id="Horror" name="Horror" value="Horror">
    <label for="Horror">Horror</label><br>
    <input type="checkbox" id="Comedy" name="Comedy" value="Comedy">
    <label for="Comedy">Comedy</label><br>
    <input type="checkbox" id="Sci-Fi" name="Sci-Fi" value="Sci-Fi">
    <label for="Sci-Fi">Sci-Fi</label><br>
    <input type="checkbox" id="Documentary" name="Documentary" value="Documentary">
    <label for="Documentary">Documentary</label><br>
    <input type="checkbox" id="Indie" name="Indie" value="Indie">
    <label for="Indie">Indie</label><br>
</fieldset>

<div id="type-field">
    <input type="text" id="movie-text" name="movie-text" placeholder="Type in some of your favourite movies or movie related things..." >
    <input type="submit" value="Add" id="add-movie-text" name="add-movie-text">
</div>
</div>

<div id="music">
    <h3>
        Select your interests based on music!
    </h3>
<fieldset id="music-genres">
    <legend>Select your favourite genres</legend>
    <input type="checkbox" id="Rock" name="Rock" value="Rock">
    <label for="Rock">Rock</label><br>
    <input type="checkbox" id="Hip-Hop" name="Hip-Hop" value="Hip-Hop">
    <label for="Hip-Hop">Hip-Hop</label><br>
    <input type="checkbox" id="Classical" name="Classical" value="Classical">
    <label for="Classical">Classical</label><br>
    <input type="checkbox" id="Pop" name="Pop" value="Pop">
    <label for="Pop">Pop</label><br>
    <input type="checkbox" id="Jazz" name="Jazz" value="Jazz">
    <label for="Jazz-Fi">Jazz</label><br>
    <input type="checkbox" id="Electronic" name="Electronic" value="Electronic">
    <label for="Electronic">Electronic</label><br>
    <input type="checkbox" id="Indie" name="Indie" value="Indie">
    <label for="Indie">Indie</label><br>
    <input type="checkbox" id="Lo-Fi" name="Lo-Fi" value="Lo-Fi">
    <label for="Lo-Fi">Lo-Fi</label><br>
    <input type="checkbox" id="Punk" name="Punk" value="Punk">
    <label for="Punk">Punk</label><br>
</fieldset>

<div id="type-field">
    <input type="text" id="music-text" name="music-text" placeholder="Type in some of your favourite songs or music related things..." >
    <input type="submit" value="Add" id="add-music-text" name="add-music-text">
</div>
</div>


<div id="books">
    <h3>
        Select your interests based on Books!
    </h3>
<fieldset id="book-genres">
    <legend>Select your favourite genres</legend>
    <input type="checkbox" id="Fiction" name="Fiction" value="Fiction">
    <label for="Fiction">Fiction</label><br>
    <input type="checkbox" id="Fantasy" name="Fantasy" value="Fantasy">
    <label for="Fantasy">Fantasy</label><br>
    <input type="checkbox" id="Self-Help" name="Self-Help" value="Self-Help">
    <label for="Self-Help">Self-Help</label><br>
    <input type="checkbox" id="Mystery" name="Mystery" value="Mystery">
    <label for="Mystery">Mystery</label><br>
    <input type="checkbox" id="Biography" name="Biography" value="Biography">
    <label for="Biography">Biography</label><br>
    <input type="checkbox" id="Sci-Fi" name="Sci-Fi" value="Sci-Fi">
    <label for="Sci-Fi">Sci-Fi</label><br>
    <input type="checkbox" id="Non-Fiction" name="Non-Fiction" value="Non-Fiction">
    <label for="Non-Fiction">Non-Fiction</label><br>
    <input type="checkbox" id="History" name="History" value="History">
    <label for="History">History</label><br>
    <input type="checkbox" id="Graphic Novels" name="Graphic Novels" value="Graphic Novels">
    <label for="Graphic Novels">Graphic Novels</label><br>
    <input type="checkbox" id="Action & Adventure" name="Action & Adventure" value="Action & Adventure">
    <label for="Action & Adventure">Action & Adventure</label><br>
    <input type="checkbox" id="Thriller" name="Thriller" value="Thriller">
    <label for="Thriller">Thriller</label><br>
</fieldset>

<div id="type-field">
    <input type="text" id="book-text" name="book-text" placeholder="Type in some of your favourite book titles or tropes..." >
    <input type="submit" value="Add" id="add-book-text" name="add-book-text">
</div>
</div>


<div id="games">
    <h3>
        Select your the game genres you enjoy
    </h3>
<fieldset id="game-genres">
    <legend>Select your favourite genres</legend>
    <input type="checkbox" id="Board Games" name="Board Games" value="Board Games">
    <label for="Board Games">Board Games</label><br>
    <input type="checkbox" id="Puzzle" name="Puzzle" value="Puzzle">
    <label for="Puzzle">Puzzle</label><br>
    <input type="checkbox" id="Collaborative" name="Collaborative" value="Collaborative">
    <label for="Collaborative">Collaborative</label><br>
    <input type="checkbox" id="Mystery" name="Mystery" value="Mystery">
    <label for="Mystery">Mystery</label><br>
    <input type="checkbox" id="Competitive" name="Competitive" value="Competitive">
    <label for="Competitive">Competitive</label><br>
    <input type="checkbox" id="Sci-Fi" name="Sci-Fi" value="Sci-Fi">
    <label for="Sci-Fi">Sci-Fi</label><br>
    <input type="checkbox" id="Single Player" name="Single Player" value="Single Player">
    <label for="Single Player">Single Player</label><br>
    <input type="checkbox" id="Trivia" name="Trivia" value="Trivia">
    <label for="Trivia">Trivia</label><br>
    <input type="checkbox" id="Strategy" name="Strategy" value="Strategy">
    <label for="Strategy">Strategy</label><br>
    <input type="checkbox" id="Interactive" name="Interactive" value="Interactive">
    <label for="Interactive">Interactive</label><br>
    <input type="checkbox" id="Party" name="Party" value="Party">
    <label for="Party">Party</label><br>
</fieldset>

<div id="type-field">
    <input type="text" id="game-text" name="game-text" placeholder="Type in some of your favourite game titles or genres..." >
    <input type="submit" value="Add" id="add-game-text" name="add-game-text">
</div>
</div>

<div id="hobbies">
    <div id="type-field">
        <input type="text" id="hobby-text" name="hobby-text" placeholder="Type in some of your hobbies or things you like to do..." >
        <input type="submit" value="Add" id="add-hobby-text" name="add-hobby-text">
    </div>
</div>