

/* Package grid layout */
.packages-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 30px;
  margin: 0 auto;
  max-width: 1200px;
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .packages-container {
    grid-template-columns: 1fr;
  }
  
  .package-grid {
    grid-template-columns: 1fr;
  }
}

.selected {
  background-color: #00d9ff;
  color: #000000;
  border-color: #ffffff;
}

.selected .item-genre {
  background-color: #ffffff;
  color: #00d9ff;
  border-color: #000000;
}

.selected .view-details-btn {
  background-color: #ffffff;
  color: #00d9ff;
  border-color: #000000;
}

.selected .view-details-btn:hover {
  background-color: #00d9ff;
  color: #ffffff;
}